@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

body, * {
  font-family: 'Roboto Serif',
  sans-serif;
  background-color: #222;
  color: #12d8df;
}

input,
select,
option,
label {
  padding: 8px 15px;
  margin: 8px;
  cursor: pointer;
  font-family: 'Roboto Serif',
  sans-serif;
  border-radius: 0;
}

input, select {
  outline: none;
  border: 1px solid #d02ad0;
}